/*Encabezado con banner al fondo*/
.header{
  background-color:#230C2E ;
  position:sticky; top:0;
  padding-bottom:25px;
  background:url(Im-go.jpg) center center no-repeat;
  background-size: cover;
  justify-content: space-between;
  z-index: 1;
}

  /*Imagen de Pokemon Go al centro del Encabezado*/
.img-go{
  max-width: 250px;
  display: block;
  margin: 0 auto;
}
 
body{
  background: #f1ee3d;
  font-family: Consolas;
}  

/*Da formato al container de las Tarjetas*/
#bloqueTarjetas {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  flex-wrap: wrap;
  gap: 5%;
  z-index: 0;
}
 
/*Tarjeta de Pokemon con bordes*/
.tarjeta {
  border-width: 10px;
  padding: 10px;
  border:6px   double
  #230C2E;
  margin: 30px 20px;
  border-radius: 20px;
  gap: 15px;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  height: 40vh;
  background:url(fondo.jpg);
  display: flex;
  flex-direction: column ;
}

/*Imagen de Pokemon*/
.imagenPokemon {
  width:20vh;
  margin-top: 10px;
  margin-bottom: 10px;
  /* justify-content: center; */
}

/*Nombre y Num de Cada Pokemon*/  
p{
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
  color: #230C2E;
}

/*FlipCards*/
.card div {
  display: flex;
  backface-visibility: hidden;
  transition: all 0.3s cubic-bezier(0.1, 0.22, 0.8, 1.13);
}

.card .front {
  width: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: perspective(200px) rotateY(0deg);
}

.card .back {
  width: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: perspective(200px) rotateY(180deg);
}

.card:hover .front {
  width: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: perspective(500px) rotateY(180deg);
}

.front.tarjeta{
  position: absolute;
}

.card:hover .back {
  width: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: perspective(100px) rotateY(360deg);
}

.about {
  max-width: 100%;
  text-align: justify;
  padding: 10px;
  font-size: 12px;
  color:black;
}

/*Da formato a Botones*/
.dropbtn {
  background-color: #0075BE;
  color: white;
  padding: 15px;
  font-size: 12px;
  margin: 10px;
  cursor: pointer;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border:none;
}
#toggle-table-btn{
  background-color: #0075BE;
  color: white;
  padding: 15px;
  font-size: 12px;
  margin: 10px;
  cursor: pointer;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border:none;
}

/*Posición del Menú Desplegable */
.dropdown {
  position: relative;
  display: inline;
}

/* Menú desplegable Escondido por Default*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f10c;
  min-width: 160px;    
}

/*Estilo adentro del Menú Desplegable*/
.dropdown-content a {
  margin:5px;
  padding:3px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
}

/* Estilo de los links en hover */
.dropdown-content a:hover {
  background-color:#FFCC00;
  color:black;
}

/*Menu desplegable estilo*/
.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  top: 100%;
  border-radius: 15px;
  background-color: #203079;
  column-count: 2;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #FFCC00;
    color:black;
}

/*Elimina las viñetas de la li*/
.menu-tipos{
  list-style:none;
}

a:visited {
  color:white ;
}

a:focus-within {
  color: goldenrod;
  font-weight: bold;
}

/*Da formato al container de los Botones*/ 
.botones {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Da formato a Input*/
.buscar input[type="text"]{
  width: 100%;
  display:flex;
  font-size: 15px;
  padding: 7px;
  border-radius: 10px;
  text-align: right;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border:none;
 
}

/*Da formato al container de Input*/ 
.buscar{
  display:flex;
}

/*Da formato al container de la Tabla*/
.container{
  align-content: center;
  margin: 15px;
}

#my-table {
  width: 50%;
  border-style:double;
  border-color: #203079;
  background:url(fondo.jpg);
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

th, td {
  padding: 3px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0075BE;
  color: white;
}

.hidden {
  display: none;
}
 
.my-chart{
  display: none;
  width:50% ;
  height:40%;
}

/* para despositivos moviles  */
@media (max-width: 800px){
  #bloqueTarjetas {
    gap: 20%;
  }
  .tarjeta {
    width: 50%;
  }
  .dropbtn #toggle-table-btn {
    background-color: #0075BE;
    color: white;
    padding: 16px;
    font-size: 10%
  }
  .buscar input{
    width: 70vw;
    display: flex;
    font-size: 5%;
    border-radius: 15px;
    text-align: right;
    justify-content: flex-end;
    position: relative;
  }
  .botones  {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 70%;
    width: 100%;
    z-index:2;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1fd31f;
    min-width: 160px;
    z-index:1;
  }
  .about {
    max-width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color:black;
  }
  .img-go {
    width: 100%;
  }
}