.header{
background-color:#230C2E ;
position:sticky; top:0;
}

.img-go{
  max-width: 15%;
}

.button{
    position: relative;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

#btn {
    width: 2.5cm;
    height: 1.5cm;
    border-radius: 10px;
    background-color: lightblue;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    font-size: 20px;
    cursor: pointer;
     
  }
#bloqueTarjetas {
  display: flex;
  padding: 20px 30px;
  flex-wrap: wrap;
  gap: 5%;
  background: #EFBDEB;
}
.tarjeta {
  border-width: 10px;
  border:6px   double
  #230C2E;
  margin: 30px 20px;
  border-radius: 20px;
  width: 16%;
  gap: 15px;
  text-align: center;
  margin-bottom: 20px;
  height: 40vh;
  background:url(fondo.jpg);
  display: flex;
  flex-direction: column ;
  padding-bottom: 50px;
  
 
  
 
}
p{
    margin-bottom: 5px;
    text-align: center;
    font-size: 25px;
    color: #230C2E;


}
/* para despositivos moviles  */
@media (max-width: 700px){
  #bloqueTarjetas {
      gap: 20%;

  }
  .tarjeta {
      width: 50%;

  }
}

.imagenPokemon {
  width: 90%;
  /* /margin-left: auto;
  margin-right: auto; */
  /* margin: auto; */
  margin-top: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.menu-tipos{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.menu-tipos ul {
  list-style: none;
  width: 5%;
  text-align: center;
  margin: 5px;
}

a:link {
  color: orange;
}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}