.header{
background-color:#230C2E ;
position:sticky; top:0;

}

.img-go{
  max-width: 15%;
}

.button{
    position: relative;
    display: flex;
    flex-direction: center;
}

#bloqueTarjetas {
  display: flex;
  padding: 20px 30px;
  flex-wrap: wrap;
  gap: 5%;
  background-color: #5c76be;
}
.tarjeta {
  border-radius: 20px;
  width: 16%;
  gap: 15px;
  text-align: center;
  margin-bottom: 20px;
  height: 40vh;
  background-color:#EFBDEB;
  display: flex;
  flex-direction: column ;
  padding-bottom: 50px;
 
}
p{
    margin-bottom: 5px;
    text-align: center;
    font-size: 25px;
    color: #230C2E;


}
/* para despositivos moviles  */
@media (max-width: 700px){
  #bloqueTarjetas {
      gap: 20%;

  }
  .tarjeta {
      width: 40%;

  }
}

.imagenPokemon {
  width: 90%;
  /* /margin-left: auto;
  margin-right: auto; */
  /* margin: auto; */
  margin-top: 10px;
  justify-content: center;
  margin-bottom: 10px;
}
